/*Header*/
header {
	position: fixed;
	top:0;
	width: 100%;
	background: white;
}

.menu {
	padding: 14px 70px;
	overflow: auto;
}

.link {
	display: inline-block;
	padding: 21px;
	font-weight: 700;
}

.logo {
	float: right;/*El logo flotará hacia la derecha*/
}